<?xml version="1.0"?>

<launch>

  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/pepper/cmd_vel" />
<!--  <arg name="odom_topic" default="/pepper/odom" />-->
  <arg name="scan_topic" default="/pepper/laser_2"/>

    <!-- Gobal planner Selection -->
  <arg name="global_planner" default="global_planner/GlobalPlanner"/>

    <!-- Local planner Selection-->
  <arg name="local_planner" default="base_local_planner/TrajectoryPlannerROS"/>
<!--  <arg name="local_planner" default="dwa_local_planner/DWAPlannerROS"/> -->
<!--  <arg name="local_planner" default="teb_local_planner/TebLocalPlannerROS"/> -->
<!--  <arg name="local_planner" default="eband_local_planner/EBandPlannerROS"/> -->


  <!-- Run the map server for MOVE_BASE map -->
  <node name="planner_map_server" pkg="map_server" type="map_server"
        args="$(find pepper_nav)/maps/mymap.yaml"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="$(arg local_planner)"/>
    <param name="base_global_planner" value="$(arg global_planner)"/>

    <param name="controller_frequency" value="5.0" />

    <rosparam file="$(find pepper_nav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pepper_nav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pepper_nav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pepper_nav)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pepper_nav)/params/local_planner_params.yaml" command="load" />
 <!--   <rosparam file="$(find pepper_nav)/params/move_base_params.yaml" command="load" /> -->
    <rosparam file="$(find pepper_nav)/params/global_planner_params.yaml" command="load" />

    <remap from="odom" to="/pepper/odom"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>

  </node>


</launch>
