<?xml version="1.0"?>
<model>
  <name>mama</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Marco</name>
    <email>mar_co_qq@hotmail.com</email>
  </author>

  <description>
    Model Created with MakerHuman. Model of a tall musculous man eye fix
  </description>
</model>
